<nav class="c-site-nav">
  <ul>
    <li>
      <a href="diet.html" class="<%= 'active' if current_page.data.nav == 'diet' %>">Diet</a>
    </li>
    <li>
      <a href="gallery.html" class="<%= 'active' if current_page.data.nav == 'gallery' %>">Gallery</a>
    </li>
    <li>
      <a href="mating.html" class="<%= 'active' if current_page.data.nav == 'mating' %>">Mating</a>
    </li>
    <li>
      <a href="habitat.html" class="<%= 'active' if current_page.data.nav == 'habitat' %>">Habitat</a>
    </li>
    <li>
      <a href="anatomy.html" class="<%= 'active' if current_page.data.nav == 'anatomy' %>">Anatomy</a>
    </li>
    <li>
      <a href="behavior.html" class="<%= 'active' if current_page.data.nav == 'behavior' %>">Behavior</a>
    </li>
  </ul>
</nav>
