<!-- <nav class="c-site-nav">
  <ul>
    <li class="<%= 'active' if current_page.data.nav == 'diet' %>">
      <a href="diet.html">Diet</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'gallery' %>">
      <a href="gallery.html">Gallery</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'mating' %>">
      <a href="mating.html" >Mating</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'habitat' %>">
      <a href="habitat.html">Habitat</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'anatomy' %>">
      <a href="anatomy.html">Anatomy</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'behavior' %>">
      <a href="behavior.html">Behavior</a>
    </li>
  </ul>
</nav> -->
