<nav class="c-site-nav">
  <ul>
    <li><%= link_to "Diet", "diet.html" %></li>
    <li><%= link_to "Gallery", "gallery.html" %></li>
    <li><%= link_to "Mating", "mating.html" %></li>
    <li><%= link_to "Habitat", "habitat.html" %></li>
    <li><%= link_to "Anatomy & Biology", "anatomy.html" %></li>
    <li><%= link_to "Behavior", "behavior.html" %></li>
  </ul>
</nav>
