---
nav: 'work'
---

<p class="intro">I'm currently a Senior Product Designer at <%= link_to 'Food52', 'http://food52.com/', title: 'Food52' %> and been a UI designer and developer for more than 8 years. Here are a few recent projects.</p>

<article>
  <header>
    <h2><%= link_to 'Food52', 'food52.html', title: 'Food52' %></h2>
  </header>
  <p>I am currently a Senior Product Designer at Food52, a James Beard Award winning cooking and e-commerce startup. In a given day I find myself jumping from Sketch to do wireframe and design work, Xcode to tweak pixels for our iOS app, or a text editor to code a web page. My work has been featured in the iOS App Store and been nominated for a James Beard interaction design award.</p>
  <!-- /article-body -->
  <footer>
    <%= link_to 'View Project', "food52.html"  %>
  </footer>
</article>

<article>
  <header>
    <h2><%= link_to '(Not)Recipes', 'not-recipes.html', title: '(Not)Recipes' %></h2>
  </header>
  <p>(Not)Recipes is Food52's first iOS app that was designed and developed in-house. It's a community of cooks cooking together through quick tips, questions and photos. I did all of the wireframe and design work for the app.</p>
  <!-- /article-body -->
  <footer>
    <%= link_to 'View Project', "not-recipes.html"  %>
  </footer>
</article>

<article>
  <header>
    <h2><%= link_to 'Cladwell', 'cladwell.html', title: 'Cladwell' %></h2>
  </header>
    <p>Cladwell approached a colleague and me to rethink the UX and flow of their product. Cladwell is a web product aimed at guys who know they want to dress well, but either don't have the time to find the right clothes or the knowledge to know what's best.</p>
  <!-- /article-body -->
  <footer>
    <%= link_to 'View Project', "cladwell.html"  %>
  </footer>
</article>

<article>
  <header>
    <h2><%= link_to 'Madtree Brewing', 'madtree.html', title: 'Madtree Brewing' %></h2>
  </header>
  <p>I have been working as a freelancer for Madtree Brewing for close to 4 years and have designed two iterations of their website and online store.</p>
  <!-- /article-body -->
  <footer>
    <%= link_to 'View Project', "madtree.html"  %>
  </footer>
</article>
